@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
  --hover-purple: rgba(145, 59, 203);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Set core body defaults */
body {
  font-family: "Work Sans", sans-serif, Arial, Helvetica;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--light-pink);
  color: var(--grayish-purple);
  scroll-behavior: smooth;
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

section.container {
  background-color: var(--white);
  width: 90%;
  max-width: 34.375rem;
  margin-inline: auto;
  margin-top: 15%;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

section.container .top {
  display: flex;
  gap: 1rem;
  align-items: center;
}

section.container .top h1 {
  color: var(--dark-purple);
  font-size: 1.5rem;
}

.questions {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.questions .question:not(:last-of-type) {
  padding: 1rem 0;
  border-bottom: 1px solid var(--light-pink);
}

.questions .question:first-of-type {
  padding-top: 0;
}

.questions .question:last-of-type {
  padding-top: 1rem;
}

.questions .question summary {
  cursor: pointer;
  color: var(--dark-purple);
  font-size: 0.925rem;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.questions .question:hover summary {
  color: var(--hover-purple);
}

.questions .question .content {
  color: var(--grayish-purple);
  font-weight: 500;
  font-size: 0.925rem;
}

/* Remove and replace details arrow */

details > summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details > summary span {
  max-width: 85%;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: " ";
  background-image: url("./assets/images/icon-plus.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
}

details[open] > summary::after {
  content: " ";
  background-image: url("./assets/images/icon-minus.svg");
  width: 30px;
  height: 30px;
}

/* Keep footer at the bottom of the page */
footer {
  padding: 0.5rem;
  text-align: center;
}

/* Media Queries */

@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }

  .wrapper {
    width: 100%;
  }

  section.container {
    padding: 2rem;
    margin-top: unset;
  }

  section.container .top h1 {
    font-size: 3rem;
  }
}
